# Importing the required modules

In [23]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Importing the dataset

In [24]:
df=pd.read_csv("iris_dataset[1].csv")

In [25]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

# Slpitting the dataframe into independent and dependent variables

In [26]:
x=df[["sepal length (cm)","sepal width (cm)","petal length (cm)","petal width (cm)"]]
y=df[["target"]]

# Splitting the into train and test

In [27]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=75)

In [28]:
train_x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
94                 5.6               2.7                4.2               1.3
21                 5.1               3.7                1.5               0.4
44                 5.1               3.8                1.9               0.4
11                 4.8               3.4                1.6               0.2
139                6.9               3.1                5.4               2.1
..                 ...               ...                ...               ...
20                 5.4               3.4                1.7               0.2
60                 5.0               2.0                3.5               1.0
138                6.0               3.0                4.8               1.8
35                 5.0               3.2                1.2               0.2
81                 5.5               2.4                3.7               1.0

[75 rows x 4 columns]

In [13]:
train_y

              target
143   Iris-virginica
44       Iris-setosa
64   Iris-versicolor
86   Iris-versicolor
34       Iris-setosa
..               ...
25       Iris-setosa
95   Iris-versicolor
43       Iris-setosa
56   Iris-versicolor
38       Iris-setosa

[75 rows x 1 columns]

# Training the model

In [29]:
l=LogisticRegression()
l.fit(train_x,train_y)
import warnings
warnings.filterwarnings("ignore")

# predicting the model

In [30]:
l.predict([[4.9,3.1,1.5,0.1]])

array(['Iris-setosa'], dtype=object)

In [31]:
l.predict([[5.6,2.9,3.6,1.3]])

array(['Iris-versicolor'], dtype=object)

# Accuracy of the model

In [22]:
l.score(train_x,train_y)

0.9866666666666667