# importing the required modules

In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Reading the dataset

In [31]:
df=pd.read_csv("advertising.csv")

In [32]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

# splitting the dataframe into independent and dependent variables

In [33]:
x=df[["TV","Radio","Newspaper"]]
y=df[["Sales"]]

# splitting the dataframe into train and test

In [34]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=99,random_state=0)
train_x

        TV  Radio  Newspaper
112  175.7   15.4        2.4
158   11.7   36.9       45.2
191   75.5   10.8        6.0
50   199.8    3.1       34.6
0    230.1   37.8       69.2
..     ...    ...        ...
67   139.3   14.5       10.2
192   17.2    4.1       31.6
117   76.4    0.8       14.8
47   239.9   41.5       18.5
172   19.6   20.1       17.0

[101 rows x 3 columns]

In [35]:
train_y

     Sales
112   17.1
158    7.3
191   11.9
50    16.4
0     22.1
..     ...
67    13.4
192    5.9
117    9.4
47    23.2
172    7.6

[101 rows x 1 columns]

# Training the model

In [36]:
import warnings
warnings.filterwarnings("ignore")

In [37]:
l=LinearRegression()
l.fit(train_x,train_y)

LinearRegression()

# predicting the model

In [38]:
l.predict([[230.1,37.8,69.2]])

array([[21.72628753]])

In [39]:
l.predict([[139.3,14.5,10.2]])

array([[13.63463066]])

# Accuracy of the model

In [40]:
l.score(train_x,train_y)

0.9207809630703088